<div id="vertical-nav">
    <div class="container clearfix">
    
    <nav>
      <ul>
        <li><a href="\"><i class="icon-home"></i>Home</a></li>
        <li><a href="#"><i class="icon-briefcase"></i>Managed IT Services</a>
          <ul>
          <li><a href="managed-it-services">Managed IT</a></li>
            <li><a href="cybersecurity">Cybersecurity</a></li>
            <li><a href="#">Compliance</a>
              <ul>
                <li><a href="hipaa">HIPAA</a></li>
                <li><a href="pci-dss">PCI-DSS</a></li>
                <li><a href="finra">FINRA</a></li>
                </li>
              </ul>
        </li>
            <li><a href="it-consulting-services">IT Consulting Services</a></li>
          </ul>
        </li>
        <li><a href="it-security"><i class="icon-bell"></i>In Shop - Computer Repair</a></li>
        <li><a href="support"><i class="icon-laptop"></i>Support</a></li>
        <li><a href="contact-us"><i class="icon-pen"></i>Contact</a></li>
      </ul>
    </nav>
    </div>
</div>    