<section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix">


    <div class="full-screen force-full-screen" style="background: url('images/deepblue/sliders/slide.jpg') center center no-repeat; background-size: cover;">

      <div class="container clearfix">
        <div class="emphasis-title vertical-middle center">
          <h2 data-caption-animate="fadeInUp" style="color:#EEE">THE PROMISE OF MANAGED IT SERVICES DONE RIGHT!</h2>
        </div>
      </div>

    </div>
  </div>

</section>
