
<div id="top-bar">

  <div class="container clearfix">
    <div class="col_half col_last clearfix nobottommargin" style="float:right">

      <!-- Top Links
      ============================================= -->
      <div class="top-links" style="float:right">
        <ul>
          <li><a href="tel:+1-317-516-5101" class="si-call"><i class="icon-call"></i></span><span class="ts-text">317-516-5101</span></a></li>
          <li><a href="mailto:info@dbcindy.com" class="si-email3"><i class="icon-email3"></i></span><span class="ts-text">info@dbcindy.com</span></a></li>
        </ul>
      </div><!-- .top-links end -->

    </div>
  </div>

</div><!-- #top-bar end -->

<!-- Header
============================================= -->
<header id="header">

  <div id="header-wrap">

    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="/" data-lightbox="gallery-item" class="pf-graphics"><img src="images/deepblue/dbc_logo.png" alt="Logo"></a>
      </div><!-- #logo end -->

      <!-- Primary Navigation
      ============================================= -->
      <!-- Primary Navigation
      ============================================= -->
      <nav id="primary-menu" class="style-3">
        <ul>
          <li><a href="\"><div>Home</div></a>
          <li><a href="#"><div>Services</div></a>
        <ul>
	  <li><a href="/managed-it-services">Managed IT</a></li>
		<li><a href="/cybersecurity">Cybersecurity</a></li>
        <li><a href="#">Compliance</a>
          <ul>
            <li><a href="/hipaa">HIPAA</a></li>
            <li><a href="/pci-dss">PCI-DSS</a></li>
            <li><a href="/finra">FINRA</a></li>
            </li>
          </ul>
		</li>
		<li><a href="/it-consulting-services">IT Consulting Services</a></li>
      </ul>
          </li>
          <li><a href="/contact"><div>Contact</div></a>
          <li><a href="/blog"><div>Blog</div></a>
        </ul>
      </nav><!-- #primary-menu end -->



    </div>

  </div>
</header>