<section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix">


    <div class="full-screen force-full-screen" style="background: url('images/deepblue/sliders/slide.jpg') center center no-repeat; background-size: cover;">

      <div class="container clearfix">
        <div class="emphasis-title vertical-middle center">
          <h2 data-caption-animate="fadeInUp" style="color:#EEE">THE PROMISE OF MANAGED IT SERVICES DONE RIGHT!</h2>
        </div>
      </div>

    </div>
  </div>

</section>

<section id="content">
<div class="content-wrap">

    <div class="container clearfix">
      <h3 style="text-align:center"> DeepBlue Computers is one stop shop for small and mid-sized businesses! </h3>
      <div class="col_one_fourth nobottommargin">
        <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
          <div class="fbox-icon iconsMainPage">
            <a href="managed-it-services"><i class="i-alt noborder icon-thumbs-up"></i></a>
          </div>
          <h3 >Managed IT Services<span class="subtitle">
            One-stop shop for your IT services. Managed IT services in Indianapolis! <br><strong><a href="managed-it-services">Learn More...</a></strong> </span></h3>
        </div>
      </div>
  
      <div class="col_one_fourth nobottommargin">
        <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
          <div class="fbox-icon iconsMainPage">
            <a href="compliance"><i class="i-alt noborder icon-credit-cards"></i></a>
          </div>
          <h3>Compliance<span class="subtitle"> Do you have a systematic proof of your internal and external policies and procedures?
          <br><strong><a href="compliance">Learn More...</a></strong> </span></h3>
        </div>
      </div>
  
      <div class="col_one_fourth nobottommargin">
        <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
          <div class="fbox-icon iconsMainPage">
            <a href="cybersecurity"><i class="i-alt noborder icon-hdd"></i></a>
          </div>
          <h3>Cybersecurity<span class="subtitle">Securing Remote Employees During COVID-19. Work from home should be secure.
          <br><strong><a href="cybersecurity">Learn More...</a></strong> </span></h3>
        </div>
      </div>
  
      <div class="col_one_fourth nobottommargin col_last">
        <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
          <div class="fbox-icon iconsMainPage">
            <a href="it-consulting-services"><i class="i-alt noborder icon-chat-3"></i></a>
          </div>
          <h3>Specialized IT Consulting<span class="subtitle">Is your current technology going to get you where you want to? <br><strong><a href="it-consulting-services">Learn More...</a></strong> </span></h3>
        </div>
      </div>
  
      <div class="clear"></div><div class="line bottommargin-lg"></div>
  
  
        <div class="heading-block">
          <h3 style="text-align:center"> Mission, Vision and Values</h3>
        </div>
  
        <div class="col_three_fifth nobottommargin">
  
        <p class="justified">Our vision is to provide ubiquitous, secure, and seamless access to information resources in all forms through a reliable and robust infrastructure.
  IT engages in collaborative relationships within the company, acting as a trusted partner who anticipates needs and responds with innovative solutions in support of the company’s mission and vision.
  Above all we strive to deliver the highest quality, and best value technology support.</p>
  
  
        <p class="justified"> Our ability to weather change and successfully expand our business through difficult times is largely due to our clients' loyalty. Quite simply, our clients trust us. It's why our clients remain for years, most since our inception in 2012.
  DeepBlue Computers’ core values have always guided our decision-making and pushed our business to be transparent to our clients. Our values include:
  
                  <ul class="iconlist iconlist-color nobottommargin">
                    <li><i class="icon-caret-right"></i><strong>Always</strong> looking out for our <strong>clients'</strong> best interests & their bottom line;</li>
                    <li><i class="icon-caret-right"></i><strong>Never</strong> taking shortcuts with our engineering solutions;</li>
                    <li><i class="icon-caret-right"></i>And <strong>always</strong> being <strong>honest</strong> with our clients & keeping our word.</li>
                  </ul>
  
                  <br>
    <p class="justified">And we still believe it's all about building strong, mutually beneficial relationships. Transitioning to a new IT support company is a difficult decision. Make it a long-term decision & call us today!</p>
  
      </div>
  
      <div class="col_two_fifth nobottommargin col_last">
      <img class="image_fade" src="images/deepblue/downloads/customer_support_2.jpg" alt="Gallery Thumb 1">
      </div>
  
  
  
    </div>
  
  
  
  </div>
  
  
  </div>
  </section>
  