<h1>Register Page </h1> 

<form action="/hatti/register" method="POST">    
    <div>
        <label for="email">Email</label>
        <input
        type="email"
        name="email"
        placeholder="Your email"
        />
    </div>
    <div>
        <label for="username">Username</label>
        <input
        type="username"
        name="username"
        placeholder="Your Username"
        />
    </div>
    <div>
        <label for="password">Password</label>
        <input
        type="password"
        name="password"
        placeholder="Enter Password"
        />
    </div>

    <button type="submit" class="btn btn-primary btn-block">Register</button>
</form>